%h1 Listing celebs

%table
  %thead
    %tr
      %th First name
      %th Last name
      %th
      %th
      %th
      
  %tbody
    - @celebs.each do |celeb|
      %tr
        %td= celeb.first_name
        %td= celeb.last_name
        %td= link_to 'Show', celeb
        %td= link_to 'Edit', edit_celeb_path(celeb)
        %td= link_to 'Destroy', celeb, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Celeb', new_celeb_path
